@cloud:registry=https://reg.eseasky.cn/repository/eseasky-npm/
registry=https://registry.npmmirror.com
email=jsuser@eseasky.cn
always-auth=true
//reg.eseasky.cn/repository/eseasky-npm/:_auth="Z2FvemhpZmFuOkd6ZkAxMjM0NTY="
