@cloud:registry=https://reg.eseasky.cn/repository/npm-group/
registry=https://registry.npmmirror.com
email=jsuser@eseasky.cn
always-auth=true
//reg.eseasky.cn/repository/npm-group/:_auth="Z2FvemhpZmFuOkd6ZkAxMjM0NTY="
