@font-face {
  font-family: 'icon-mind';
  src: url('iconFont.woff2') format('woff2');
}

.icon-mind {
  font-family: 'icon-mind' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1_1:before {
  content: '\e001';
}

.icon-2_3:before {
  content: '\e002';
}

.icon-3_2:before {
  content: '\e003';
}

.icon-4_3:before {
  content: '\e004';
}

.icon-9_16:before {
  content: '\e005';
}

.icon-9_21:before {
  content: '\e006';
}

.icon-16_9:before {
  content: '\e007';
}

.icon-21_9:before {
  content: '\e008';
}

.icon-biankuang:before {
  content: '\e009';
}

.icon-biankuangyanse:before {
  content: '\e00a';
}

.icon-zharutupian:before {
  content: '\e00b';
}

.icon-chexiao:before {
  content: '\e00c';
}

.icon-taigang:before {
  content: '\e00d';
}

.icon-daima:before {
  content: '\e00e';
}

.icon-luoshishua:before {
  content: '\e00f';
}

.icon-huabi-1:before {
  content: '\e010';
}

.icon-huabi-2:before {
  content: '\e011';
}

.icon-huabi:before {
  content: '\e012';
}

.icon-huabiyushe-1:before {
  content: '\e013';
}

.icon-huabiyushe-2:before {
  content: '\e014';
}

.icon-huabiyushe-3:before {
  content: '\e015';
}

.icon-huifu:before {
  content: '\e016';
}

.icon-qingshuluoshi:before {
  content: '\e017';
}

.icon-qingshuhuabu:before {
  content: '\e018';
}

.icon-yongqi:before {
  content: '\e019';
}

.icon-chenchong:before {
  content: '\e01a';
}

.icon-chenchongyanse:before {
  content: '\e01b';
}

.icon-wenben:before {
  content: '\e01c';
}

.icon-xiangpica:before {
  content: '\e01d';
}

.icon-xuanzhai:before {
  content: '\e01e';
}

.icon-ziyaobili:before {
  content: '\e01f';
}

.icon-A4:before {
  content: '\e020';
}

.icon-biaotier:before {
  content: '\e021';
}

.icon-biaotilu:before {
  content: '\e022';
}

.icon-biaotisan:before {
  content: '\e023';
}

.icon-biaotisi:before {
  content: '\e024';
}

.icon-biaotiwu:before {
  content: '\e025';
}

.icon-biaotiyi:before {
  content: '\e026';
}

.icon-cuben:before {
  content: '\e027';
}

.icon-jianshaosuojin:before {
  content: '\e028';
}

.icon-shanshuxian:before {
  content: '\e029';
}

.icon-shangbiao:before {
  content: '\e02a';
}

.icon-tianjiawenben:before {
  content: '\e02b';
}

.icon-wenbenbeijingse:before {
  content: '\e02c';
}

.icon-wenbenqixian:before {
  content: '\e02d';
}

.icon-wenbenshuiping:before {
  content: '\e02e';
}

.icon-wenziyangshi:before {
  content: '\e02f';
}

.icon-xiabiao:before {
  content: '\e030';
}

.icon-xiahuaixian:before {
  content: '\e031';
}

.icon-xieben:before {
  content: '\e032';
}

.icon-cengjiasuojin:before {
  content: '\e033';
}

.icon-zijianju:before {
  content: '\e034';
}

.icon-zibenyanse:before {
  content: '\e035';
}

.icon-zhuizhifenbu:before {
  content: '\e036';
}

.icon-zhuizhijuzhong2:before {
  content: '\e037';
}

.icon-zhuizhijuzhong:before {
  content: '\e038';
}

.icon-dibuduiqi2:before {
  content: '\e039';
}

.icon-dibuduiqi:before {
  content: '\e03a';
}

.icon-dingbuduiqi:before {
  content: '\e03b';
}

.icon-dingduanduiqi:before {
  content: '\e03c';
}

.icon-juzhongduiqi:before {
  content: '\e03d';
}

.icon-liangduanduiqi:before {
  content: '\e03e';
}

.icon-shuipingfenbu:before {
  content: '\e03f';
}

.icon-shuipingjuzhong:before {
  content: '\e040';
}

.icon-youduiqi2:before {
  content: '\e041';
}

.icon-youduiqi:before {
  content: '\e042';
}

.icon-zuoduiqi2:before {
  content: '\e043';
}

.icon-zuoduiqi:before {
  content: '\e044';
}

.icon-duojilibiao:before {
  content: '\e045';
}

.icon-libiao:before {
  content: '\e046';
}

.icon-linwulibiao:before {
  content: '\e047';
}

.icon-moxulibiao:before {
  content: '\e048';
}

.icon-yingwenlibiao:before {
  content: '\e049';
}

.icon-youxulibiao:before {
  content: '\e04a';
}

.icon-bianzu:before {
  content: '\e04b';
}

.icon-cengji:before {
  content: '\e04c';
}

.icon-chaiji:before {
  content: '\e04d';
}

.icon-changgui:before {
  content: '\e04e';
}

.icon-chaogao:before {
  content: '\e04f';
}

.icon-zhuizhifanzhuan:before {
  content: '\e050';
}

.icon-taixiao:before {
  content: '\e051';
}

.icon-daoxu:before {
  content: '\e052';
}

.icon-gao:before {
  content: '\e053';
}

.icon-jianqudingceng:before {
  content: '\e054';
}

.icon-jiaoji:before {
  content: '\e055';
}

.icon-jieshubianzu:before {
  content: '\e056';
}

.icon-jingxiang:before {
  content: '\e057';
}

.icon-lianji:before {
  content: '\e058';
}

.icon-quxiaozuhe:before {
  content: '\e059';
}

.icon-shanshuxuanzhongli:before {
  content: '\e05a';
}

.icon-shanshuxuanzhongxing:before {
  content: '\e05b';
}

.icon-shangfangzharuyixing:before {
  content: '\e05c';
}

.icon-shangyiyiceng:before {
  content: '\e05d';
}

.icon-shuipingfanzhuan:before {
  content: '\e05e';
}

.icon-xiafangzharuyixing:before {
  content: '\e05f';
}

.icon-xiayiyiceng:before {
  content: '\e060';
}

.icon-youzhaizharu1li:before {
  content: '\e061';
}

.icon-yuanjiao:before {
  content: '\e062';
}

.icon-zhengxu:before {
  content: '\e063';
}

.icon-zhijiao:before {
  content: '\e064';
}

.icon-zhidi:before {
  content: '\e065';
}

.icon-zhiding:before {
  content: '\e066';
}

.icon-zhongdeng:before {
  content: '\e067';
}

.icon-zuhe:before {
  content: '\e068';
}

.icon-zuozhaizharu1li:before {
  content: '\e069';
}

.icon-jiantou1:before {
  content: '\e06a';
}

.icon-jiantou2:before {
  content: '\e06b';
}

.icon-jiantou3:before {
  content: '\e06c';
}

.icon-jiantou4:before {
  content: '\e06d';
}

.icon-jiantou5:before {
  content: '\e06e';
}

.icon-jiantou6:before {
  content: '\e06f';
}

.icon-jiantou7:before {
  content: '\e070';
}

.icon-jiantou8:before {
  content: '\e071';
}

.icon-jiantou9:before {
  content: '\e072';
}

.icon-jiantou10:before {
  content: '\e073';
}

.icon-jiantou11:before {
  content: '\e074';
}

.icon-lianxieyangshi1:before {
  content: '\e075';
}

.icon-lianxieyangshi2:before {
  content: '\e076';
}

.icon-lianxieyangshi3:before {
  content: '\e077';
}

.icon-xiantiaocuxi:before {
  content: '\e078';
}

.icon-xiantiaofengluomanhuajia:before {
  content: '\e079';
}

.icon-xiantiaofengluoposu:before {
  content: '\e07a';
}

.icon-xiantiaofengluoyishu:before {
  content: '\e07b';
}

.icon-xiantiaoyangshi:before {
  content: '\e07c';
}

.icon-xiantiaoyangshi1:before {
  content: '\e07d';
}

.icon-xiantiaoyangshi2:before {
  content: '\e07e';
}

.icon-xiantiaoyangshi3:before {
  content: '\e07f';
}

.icon-xiantiaoyangshi4:before {
  content: '\e080';
}

.icon-xiantiaoyangshi5:before {
  content: '\e081';
}

.icon-xiantiaoyangshi6:before {
  content: '\e082';
}

.icon-xiantiaoyangshi7:before {
  content: '\e083';
}

.icon-xiantiaoyangshi8:before {
  content: '\e084';
}

.icon-babianxing:before {
  content: '\e085';
}

.icon-juxing:before {
  content: '\e086';
}

.icon-lingxing:before {
  content: '\e087';
}

.icon-lubianxing:before {
  content: '\e088';
}

.icon-pingxingsibianxing:before {
  content: '\e089';
}

.icon-suolouxing:before {
  content: '\e08a';
}

.icon-chenchongyangshi1:before {
  content: '\e08b';
}

.icon-chenchongyangshi2:before {
  content: '\e08c';
}

.icon-chenchongyangshi3:before {
  content: '\e08d';
}

.icon-yuanxing:before {
  content: '\e08e';
}

.icon-zhengfangxing:before {
  content: '\e08f';
}

.icon-zharutongjijiedian:before {
  content: '\e090';
}

.icon-zharuzijijiedian:before {
  content: '\e091';
}

.icon-gaiyao:before {
  content: '\e092';
}

.icon-jiegoufengluo:before {
  content: '\e093';
}

.icon-lianxiexian:before {
  content: '\e094';
}

.icon-tupianfudong:before {
  content: '\e095';
}

.icon-tupianhanru:before {
  content: '\e096';
}

.icon-tupianzaishang:before {
  content: '\e097';
}

.icon-tupianzaixia:before {
  content: '\e098';
}

.icon-tupianzaiyou:before {
  content: '\e099';
}

.icon-tupianzaizuo:before {
  content: '\e09a';
}

.icon-waikuang:before {
  content: '\e09b';
}

.icon-yangshi:before {
  content: '\e09c';
}

.icon-KooBoard:before {
  content: '\e0a1';
}

.icon-KooDraw:before {
  content: '\e0a2';
}

.icon-KooPage:before {
  content: '\e0a3';
}

.icon-KooMind:before {
  content: '\e0a4';
}

.icon-beizhu:before {
  content: '\e0a5';
}

.icon-bianji:before {
  content: '\e0a6';
}

.icon-bianqian:before {
  content: '\e0a7';
}

.icon-biaoshan:before {
  content: '\e0a8';
}

.icon-biaoluo:before {
  content: '\e0a9';
}

.icon-biaoqing-xuanzhong:before {
  content: '\e0aa';
}

.icon-biaoqing:before {
  content: '\e0ab';
}

.icon-caijian:before {
  content: '\e0ac';
}

.icon-zharubiaoqian:before {
  content: '\e0ad';
}

.icon-zhakan:before {
  content: '\e0ae';
}

.icon-zhakantupian:before {
  content: '\e0af';
}

.icon-zhazhao:before {
  content: '\e0b0';
}

.icon-shanxuan:before {
  content: '\e0b1';
}

.icon-dianhua:before {
  content: '\e0b2';
}

.icon-duoxuan:before {
  content: '\e0b3';
}

.icon-fangtai:before {
  content: '\e0b4';
}

.icon-fenxiang:before {
  content: '\e0b5';
}

.icon-fenzu:before {
  content: '\e0b6';
}

.icon-fengluo:before {
  content: '\e0b7';
}

.icon-fuxiao:before {
  content: '\e0b8';
}

.icon-bujian:before {
  content: '\e0b9';
}

.icon-fuxuankuang:before {
  content: '\e0ba';
}

.icon-fuzhi:before {
  content: '\e0bb';
}

.icon-fuwenben:before {
  content: '\e0bc';
}

.icon-gantetu:before {
  content: '\e0bd';
}

.icon-luoshi:before {
  content: '\e0be';
}

.icon-gengduo:before {
  content: '\e0bf';
}

.icon-gengduo2:before {
  content: '\e0c0';
}

.icon-gonggao:before {
  content: '\e0c1';
}

.icon-haiyuantupian:before {
  content: '\e0c2';
}

.icon-huaceshitu:before {
  content: '\e0c3';
}

.icon-huifu-xuanzhai:before {
  content: '\e0c4';
}

.icon-huoyin:before {
  content: '\e0c5';
}

.icon-jilulibiao:before {
  content: '\e0c6';
}

.icon-jiaozhai:before {
  content: '\e0c7';
}

.icon-jiesuo:before {
  content: '\e0c8';
}

.icon-jinzhai:before {
  content: '\e0c9';
}

.icon-qiapianpeizhi:before {
  content: '\e0ca';
}

.icon-kanban:before {
  content: '\e0cb';
}

.icon-lianxie:before {
  content: '\e0cc';
}

.icon-mubanku-xianxing:before {
  content: '\e0cd';
}

.icon-mubanku:before {
  content: '\e0ce';
}

.icon-baixu:before {
  content: '\e0cf';
}

.icon-pinglun:before {
  content: '\e0d0';
}

.icon-quseqi:before {
  content: '\e0d1';
}

.icon-renyun:before {
  content: '\e0d2';
}

.icon-linwubiao:before {
  content: '\e0d3';
}

.icon-rili:before {
  content: '\e0d4';
}

.icon-riji:before {
  content: '\e0d5';
}

.icon-sehuan:before {
  content: '\e0d6';
}

.icon-shaixuan:before {
  content: '\e0d7';
}

.icon-shanshu:before {
  content: '\e0d8';
}

.icon-shijian:before {
  content: '\e0d9';
}

.icon-shuzi:before {
  content: '\e0da';
}

.icon-xiaosuo:before {
  content: '\e0db';
}

.icon-suoxiao:before {
  content: '\e0dc';
}

.icon-suo:before {
  content: '\e0dd';
}

.icon-tianjia:before {
  content: '\e0de';
}

.icon-tianjia2:before {
  content: '\e0df';
}

.icon-shumengzhai:before {
  content: '\e0e0';
}

.icon-tupian:before {
  content: '\e0e1';
}

.icon-tupiantihuan:before {
  content: '\e0e2';
}

.icon-tuozhuai:before {
  content: '\e0e3';
}

.icon-xiazai:before {
  content: '\e0e4';
}

.icon-xinggao:before {
  content: '\e0e5';
}

.icon-yibiaopan:before {
  content: '\e0e6';
}

.icon-yinzang:before {
  content: '\e0e7';
}

.icon-youxiang:before {
  content: '\e0e8';
}

.icon-tidiefenzu:before {
  content: '\e0e9';
}

.icon-tongmingmingbiaoti:before {
  content: '\e0ea';
}

.icon-dingwei:before {
  content: '\e0eb';
}

.icon-fangxiang:before {
  content: '\e0ec';
}

.icon-shang-xiao:before {
  content: '\e0ed';
}

.icon-shang:before {
  content: '\e0ee';
}

.icon-shangxiala-xiao:before {
  content: '\e0ef';
}

.icon-shangxiala:before {
  content: '\e0f0';
}

.icon-shangyitiao:before {
  content: '\e0f1';
}

.icon-shitudaohang:before {
  content: '\e0f2';
}

.icon-shouqi2:before {
  content: '\e0f3';
}

.icon-shouqi:before {
  content: '\e0f4';
}

.icon-shou:before {
  content: '\e0f5';
}

.icon-tuodongshoubing:before {
  content: '\e0f6';
}

.icon-xia-xiao:before {
  content: '\e0f7';
}

.icon-xia:before {
  content: '\e0f8';
}

.icon-xiasanjiao-tai:before {
  content: '\e0f9';
}

.icon-xiasanjiao-xiao:before {
  content: '\e0fa';
}

.icon-xiayitiao:before {
  content: '\e0fb';
}

.icon-xiangyou:before {
  content: '\e0fc';
}

.icon-xiangzuo:before {
  content: '\e0fd';
}

.icon-xuanzhuan:before {
  content: '\e0fe';
}

.icon-you:before {
  content: '\e0ff';
}

.icon-youshangla:before {
  content: '\e100';
}

.icon-youxiala:before {
  content: '\e101';
}

.icon-zhankai2:before {
  content: '\e102';
}

.icon-zhankai3:before {
  content: '\e103';
}

.icon-zhankai:before {
  content: '\e104';
}

.icon-zuo:before {
  content: '\e105';
}

.icon-shanxuankuang-weixuan-Disabled:before {
  content: '\e106';
}

.icon-shanxuankuang-weixuan-Enabled:before {
  content: '\e107';
}

.icon-shanxuankuang-xuanzhong-Disabled:before {
  content: '\e108';
}

.icon-shanxuankuang-xuanzhong-Enabled:before {
  content: '\e109';
}

.icon-fuxuankuang-hunhe-Disabled:before {
  content: '\e10a';
}

.icon-fuxuankuang-hunhe-Enabled:before {
  content: '\e10b';
}

.icon-fuxuankuang-quanxuan-Disabled:before {
  content: '\e10c';
}

.icon-fuxuankuang-quanxuan-Enabled:before {
  content: '\e10d';
}

.icon-fuxuankuang-weixuan-Disabled:before {
  content: '\e10e';
}

.icon-fuxuankuang-weixuan-Enabled:before {
  content: '\e10f';
}

.icon-fuxuankuang-xuanzhong-Disabled:before {
  content: '\e110';
}

.icon-fuxuankuang-xuanzhong-Enabled:before {
  content: '\e111';
}

.icon-kaiguan-guan-Disabled:before {
  content: '\e112';
}

.icon-kaiguan-guan-Focus:before {
  content: '\e113';
}

.icon-kaiguan-kai-Disabled:before {
  content: '\e114';
}

.icon-kaiguan-kai-Enabled:before {
  content: '\e115';
}

.icon-gou-16px:before {
  content: '\e116';
}

.icon-gou-24px:before {
  content: '\e117';
}

.icon-guanbi-2-24px:before {
  content: '\e118';
}

.icon-guanbi-16px:before {
  content: '\e119';
}

.icon-guanbi-24px:before {
  content: '\e11a';
}

.icon-huadongshoubing:before {
  content: '\e11b';
}

.icon-huadongshoubing2:before {
  content: '\e11c';
}

.icon-xiaosuo-1:before {
  content: '\e11d';
}

.icon-bangchu:before {
  content: '\e11e';
}

.icon-bangchu2:before {
  content: '\e11f';
}

.icon-chenggong-xiao:before {
  content: '\e120';
}

.icon-chenggong:before {
  content: '\e121';
}

.icon-chenggong2:before {
  content: '\e122';
}

.icon-cuowu-xiao:before {
  content: '\e123';
}

.icon-cuowu:before {
  content: '\e124';
}

.icon-cuowu2:before {
  content: '\e125';
}

.icon-jiazaizhong-xiao:before {
  content: '\e126';
}

.icon-jiazaizhong:before {
  content: '\e127';
}

.icon-jingzhi:before {
  content: '\e128';
}

.icon-jingzhi2:before {
  content: '\e129';
}

.icon-shizhi-xiao:before {
  content: '\e12a';
}

.icon-shizhi:before {
  content: '\e12b';
}

.icon-shizhi2:before {
  content: '\e12c';
}

.icon-wanglao:before {
  content: '\e12d';
}

.icon-xiazaizhong-xiao:before {
  content: '\e12e';
}

.icon-xiazaizhong:before {
  content: '\e12f';
}

.icon-buyuanhao:before {
  content: '\e130';
}

.icon-jieping:before {
  content: '\e131';
}

.icon-moren:before {
  content: '\e132';
}

.icon-shangxiatuodong:before {
  content: '\e133';
}

.icon-shangxiawencaishan:before {
  content: '\e134';
}

.icon-shuru:before {
  content: '\e135';
}

.icon-xiangshang:before {
  content: '\e136';
}

.icon-xiangxia:before {
  content: '\e137';
}

.icon-xuanzhaiquyu:before {
  content: '\e138';
}

.icon-yidong:before {
  content: '\e139';
}

.icon-youshang:before {
  content: '\e13a';
}

.icon-youxia:before {
  content: '\e13b';
}

.icon-zhizhen:before {
  content: '\e13c';
}

.icon-zhuaqu:before {
  content: '\e13d';
}

.icon-zhuazhu:before {
  content: '\e13e';
}

.icon-zuoshang:before {
  content: '\e13f';
}

.icon-zuoxia:before {
  content: '\e140';
}

.icon-zuoyoutuodong:before {
  content: '\e141';
}

.icon-Alias:before {
  content: '\e142';
}

.icon-Cell:before {
  content: '\e143';
}

.icon-Column:before {
  content: '\e144';
}

.icon-ColumnL:before {
  content: '\e145';
}

.icon-ColumnR:before {
  content: '\e146';
}

.icon-Crosshair:before {
  content: '\e147';
}

.icon-Row:before {
  content: '\e148';
}

.icon-RowDown:before {
  content: '\e149';
}

.icon-RowUp:before {
  content: '\e14a';
}

.icon-Text:before {
  content: '\e14b';
}

.icon-UpLDownR:before {
  content: '\e14c';
}

.icon-UpRBtmL:before {
  content: '\e14d';
}

.icon-VerticalText:before {
  content: '\e14e';
}

.icon-xiangzuo-1:before {
  content: '\e14f';
}

.icon-cuowu-1:before {
  content: '\e150';
}

.icon-jinzhai-1:before {
  content: '\e151';
}

.icon-fuzhi-1:before {
  content: '\e152';
}

.icon-bangchu-1:before {
  content: '\e153';
}

.icon-fangtai-1:before {
  content: '\e154';
}

.icon-xiangyou-1:before {
  content: '\e155';
}

.icon-suoxiao-1:before {
  content: '\e156';
}

.icon-7z:before {
  content: '\e157';
}

.icon-AE:before {
  content: '\e158';
}

.icon-AI:before {
  content: '\e159';
}

.icon-amr:before {
  content: '\e15a';
}

.icon-AN:before {
  content: '\e15b';
}

.icon-ape:before {
  content: '\e15c';
}

.icon-applications:before {
  content: '\e15d';
}

.icon-AU:before {
  content: '\e15e';
}

.icon-audio:before {
  content: '\e15f';
}

.icon-BR:before {
  content: '\e160';
}

.icon-CH:before {
  content: '\e161';
}

.icon-chm:before {
  content: '\e162';
}

.icon-compress:before {
  content: '\e163';
}

.icon-doc:before {
  content: '\e164';
}

.icon-documents:before {
  content: '\e165';
}

.icon-download:before {
  content: '\e166';
}

.icon-DW:before {
  content: '\e167';
}

.icon-empty:before {
  content: '\e168';
}

.icon-Excel:before {
  content: '\e169';
}

.icon-flac:before {
  content: '\e16a';
}

.icon-folder:before {
  content: '\e16b';
}

.icon-html:before {
  content: '\e16c';
}

.icon-ID:before {
  content: '\e16d';
}

.icon-image:before {
  content: '\e16e';
}

.icon-log:before {
  content: '\e16f';
}

.icon-LR:before {
  content: '\e170';
}

.icon-m4a:before {
  content: '\e171';
}

.icon-mp3:before {
  content: '\e172';
}

.icon-MU:before {
  content: '\e173';
}

.icon-pdf:before {
  content: '\e174';
}

.icon-pptx:before {
  content: '\e175';
}

.icon-PR:before {
  content: '\e176';
}

.icon-PSD:before {
  content: '\e177';
}

.icon-rar:before {
  content: '\e178';
}

.icon-sketch:before {
  content: '\e179';
}

.icon-txt:before {
  content: '\e17a';
}

.icon-unknown:before {
  content: '\e17b';
}

.icon-video:before {
  content: '\e17c';
}

.icon-wav:before {
  content: '\e17d';
}

.icon-wma:before {
  content: '\e17e';
}

.icon-xml:before {
  content: '\e17f';
}

.icon-zip:before {
  content: '\e180';
}

.icon-xuanzhuan-2:before {
  content: '\e181';
}

.icon-suo-1:before {
  content: '\e182';
}

.icon-guanlianxianshezhi:before {
  content: '\e185';
}

.icon-gaiyaoshezhi:before {
  content: '\e186';
}

.icon-zhakanmushi:before {
  content: '\e195';
}

.icon-chuangjianpiben:before {
  content: '\e196';
}

.icon-fuzhiwenbendaojianqiban:before {
  content: '\e197';
}

.icon-fuzhiyangshi:before {
  content: '\e198';
}

.icon-jianqi:before {
  content: '\e199';
}

.icon-jianpan:before {
  content: '\e19a';
}

.icon-quxiaowenbenbangding:before {
  content: '\e19b';
}

.icon-quanbuxuanzhong:before {
  content: '\e19c';
}

.icon-sheweimorenyangshi:before {
  content: '\e19d';
}

.icon-wangluoxian:before {
  content: '\e19e';
}

.icon-xiangxitongjixinxi:before {
  content: '\e19f';
}

.icon-niantie:before {
  content: '\e1a0';
}

.icon-suodinggongjulan:before {
  content: '\e1a1';
}

.icon-shang-hongmeng:before {
  content: '\e1a4';
}

.icon-xia-hongmeng:before {
  content: '\e1a5';
}

.icon-quxian:before {
  content: '\e1a6';
}

.icon-quxian2:before {
  content: '\e1a7';
}

.icon-zhilian:before {
  content: '\e1a8';
}

.icon-zhixian:before {
  content: '\e1a9';
}

.icon-shouqijiedian:before {
  content: '\e1aa';
}

.icon-zhankaijiedian:before {
  content: '\e1ab';
}

.icon-xibuzhiduixiang:before {
  content: '\e1ac';
}

.icon-bianjixiantiao:before {
  content: '\e1ad';
}

.icon-bangdingwenbendaoyongqi:before {
  content: '\e1ae';
}

.icon-gou-20px:before {
  content: '\e1af';
}