* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /** 选中节点后的边框颜色 */
  --selected-border-color-active: #0075FF;
  /** 被选择节点的边框颜色 */
  --selected-border-color-select: #82B4FF;
  /** 被hover节点的边框颜色 */
  --selected-border-color-hover: #D2E6FF;
}